name: mouth-driver-integration-tests
labels:
  - docker-image
  - integration
dependencies:
  - driver-mouth: docker-image
  - artie-api-server: docker-image
  - artie-cli: docker-image
  - artie-rpc-broker: docker-image
type: test
steps:
  - job: docker-compose-test-suite
    compose-fname: compose.driver-mouth.yaml
    compose-docker-image-variables:
      - MOUTH_TEST_IMAGE:
          dependency:
            name: docker-image
            producing-task: driver-mouth
      - ARTIE_API_SERVER_TEST_IMAGE:
          dependency:
            name: docker-image
            producing-task: artie-api-server
      - RPC_BROKER_TEST_IMAGE:
          dependency:
            name: docker-image
            producing-task: artie-rpc-broker
    cli-image:
      dependency:
        name: docker-image
        producing-task: artie-cli
    steps:
      - test-name: init-mcu
        cmd-to-run-in-cli: "artie-cli help"
        expected-outputs:
          - what: "Mocking MCU FW load."
            where: mouth-itest-mouth-driver
      - test-name: mcu-list
        cmd-to-run-in-cli: "artie-cli mcu list -n mouth-driver --integration-test --artie-profile /integration_test_profile.json"
        expected-outputs:
          - what: "MCU IDs: ['mouth']"
            where: mouth-itest-mouth-driver
      - test-name: mcu-reload-fw
        cmd-to-run-in-cli: "artie-cli mcu reload-fw mouth -n mouth-driver --integration-test --artie-profile /integration_test_profile.json"
        expected-outputs:
          - what: "Mocking MCU FW load."
            where: mouth-itest-mouth-driver
      - test-name: mcu-reset
        cmd-to-run-in-cli: "artie-cli mcu reset mouth -n mouth-driver --integration-test --artie-profile /integration_test_profile.json"
        expected-outputs:
          - what: "Mocking a CAN call for reset."
            where: mouth-itest-mouth-driver
      - test-name: mcu-self-check
        cmd-to-run-in-cli: "artie-cli mcu self-check mouth -n mouth-driver --integration-test --artie-profile /integration_test_profile.json"
        expected-outputs:
          - what: "Checking FW subsystem..."
            where: mouth-itest-mouth-driver
      - test-name: mcu-status
        cmd-to-run-in-cli: "artie-cli mcu status mouth -n mouth-driver --integration-test --artie-profile /integration_test_profile.json"
        expected-outputs:
          - what: "Mocking FW status."
            where: mouth-itest-mouth-driver
      - test-name: mcu-version
        cmd-to-run-in-cli: "artie-cli mcu version mouth -n mouth-driver --integration-test --artie-profile /integration_test_profile.json"
        expected-outputs:
          - what: "Mocking a CAN call for version."
            where: mouth-itest-mouth-driver
      - test-name: led-list
        cmd-to-run-in-cli: "artie-cli status-led list -n mouth-driver --integration-test --artie-profile /integration_test_profile.json"
        expected-outputs:
          - what: "LEDs: ['mouth']"
            where: mouth-itest-mouth-driver
      - test-name: led-set-on
        cmd-to-run-in-cli: "artie-cli status-led set on -n mouth-driver --integration-test --artie-profile /integration_test_profile.json"
        expected-outputs:
          - what: "LED -> ON"
            where: mouth-itest-mouth-driver
      - test-name: led-set-off
        cmd-to-run-in-cli: "artie-cli status-led set off -n mouth-driver --integration-test --artie-profile /integration_test_profile.json"
        expected-outputs:
          - what: "LED -> OFF"
            where: mouth-itest-mouth-driver
      - test-name: led-set-heartbeat
        cmd-to-run-in-cli: "artie-cli status-led set heartbeat -n mouth-driver --integration-test --artie-profile /integration_test_profile.json"
        expected-outputs:
          - what: "LED -> HEARTBEAT"
            where: mouth-itest-mouth-driver
      - test-name: led-get
        cmd-to-run-in-cli: "artie-cli status-led get -n mouth-driver --integration-test --artie-profile /integration_test_profile.json"
        expected-outputs:
          - what: "LED -> State: heartbeat"
            where: mouth-itest-mouth-driver
      - test-name: display-list
        cmd-to-run-in-cli: "artie-cli display list -n mouth-driver --integration-test --artie-profile /integration_test_profile.json"
        expected-outputs:
          - what: "Received request for mouth LCD -> LIST."
            where: mouth-itest-mouth-driver
      - test-name: display-get
        cmd-to-run-in-cli: "artie-cli display get mouth -n mouth-driver --integration-test --artie-profile /integration_test_profile.json"
        expected-outputs:
          - what: "LCD -> smile"
            where: mouth-itest-mouth-driver
      - test-name: display-talk
        cmd-to-run-in-cli: "artie-cli display set mouth 'dGFsaw==' -n mouth-driver --integration-test --artie-profile /integration_test_profile.json"
        expected-outputs:
          - what: "LCD -> Talking mode"
            where: mouth-itest-mouth-driver
      - test-name: display-frown
        cmd-to-run-in-cli: "artie-cli display set mouth 'ZnJvd24=' -n mouth-driver --integration-test --artie-profile /integration_test_profile.json"
        expected-outputs:
          - what: "LCD -> Draw frown"
            where: mouth-itest-mouth-driver
      - test-name: display-line
        cmd-to-run-in-cli: "artie-cli display set mouth 'bGluZQ==' -n mouth-driver --integration-test --artie-profile /integration_test_profile.json"
        expected-outputs:
          - what: "LCD -> Draw line"
            where: mouth-itest-mouth-driver
      - test-name: display-smirk
        cmd-to-run-in-cli: "artie-cli display set mouth 'c21pcms=' -n mouth-driver --integration-test --artie-profile /integration_test_profile.json"
        expected-outputs:
          - what: "LCD -> Draw smirk"
            where: mouth-itest-mouth-driver
      - test-name: display-open-smile
        cmd-to-run-in-cli: "artie-cli display set mouth 'b3Blbi1zbWlsZQ==' -n mouth-driver --integration-test --artie-profile /integration_test_profile.json"
        expected-outputs:
          - what: "LCD -> Draw open-smile"
            where: mouth-itest-mouth-driver
      - test-name: display-zig-zag
        cmd-to-run-in-cli: "artie-cli display set mouth 'emlnLXpheg==' -n mouth-driver --integration-test --artie-profile /integration_test_profile.json"
        expected-outputs:
          - what: "LCD -> Draw zig-zag"
            where: mouth-itest-mouth-driver
      - test-name: display-smile
        cmd-to-run-in-cli: "artie-cli display set mouth 'c21pbGU=' -n mouth-driver --integration-test --artie-profile /integration_test_profile.json"
        expected-outputs:
          - what: "LCD -> Draw smile"
            where: mouth-itest-mouth-driver
      - test-name: display-test
        cmd-to-run-in-cli: "artie-cli display test mouth -n mouth-driver --integration-test --artie-profile /integration_test_profile.json"
        expected-outputs:
          - what: "LCD -> TEST"
            where: mouth-itest-mouth-driver
      - test-name: display-clear
        cmd-to-run-in-cli: "artie-cli display clear mouth -n mouth-driver --integration-test --artie-profile /integration_test_profile.json"
        expected-outputs:
          - what: "LCD -> OFF"
            where: mouth-itest-mouth-driver
