name: mouth-driver-unit-tests
labels:
  - docker-image
  - unit
dependencies:
  - driver-mouth: docker-image
  - artie-cli: docker-image
type: test
steps:
  - job: single-container-cli-suite
    docker-image-under-test:
      dependency:
        name: docker-image
        producing-task: driver-mouth
    cmd-to-run-in-dut: "python -m src.main /conf/mcu-fw.elf --port 18862 --loglevel info"
    dut-port-mappings:
      - 18862: 18862
    cli-image:
      dependency:
        name: docker-image
        producing-task: artie-cli
    steps:
      - test-name: init-mcu
        cmd-to-run-in-cli: "artie-cli help"
        expected-outputs:
          - what: "Mocking MCU FW load."
            where: ${DUT}
      - test-name: led-get
        cmd-to-run-in-cli: "artie-cli status-led get mouth -n mouth-driver --unit-test --port 18862 --artie-profile /unit_test_profile.json"
        expected-outputs:
          - what: "LED -> State: heartbeat"
            where: ${DUT}
      - test-name: led-set-on
        cmd-to-run-in-cli: "artie-cli status-led set mouth on -n mouth-driver --unit-test --port 18862 --artie-profile /unit_test_profile.json"
        expected-outputs:
          - what: "LED -> ON"
            where: ${DUT}
      - test-name: led-set-off
        cmd-to-run-in-cli: "artie-cli status-led set mouth off -n mouth-driver --unit-test --port 18862 --artie-profile /unit_test_profile.json"
        expected-outputs:
          - what: "LED -> OFF"
            where: ${DUT}
      - test-name: led-set-heartbeat
        cmd-to-run-in-cli: "artie-cli status-led set mouth heartbeat -n mouth-driver --unit-test --port 18862 --artie-profile /unit_test_profile.json"
        expected-outputs:
          - what: "LED -> HEARTBEAT"
            where: ${DUT}
      - test-name: display-test
        cmd-to-run-in-cli: "artie-cli display test mouth -n mouth-driver --unit-test --port 18862 --artie-profile /unit_test_profile.json"
        expected-outputs:
          - what: "LCD -> TEST"
            where: ${DUT}
      - test-name: display-clear
        cmd-to-run-in-cli: "artie-cli display clear mouth -n mouth-driver --unit-test --port 18862 --artie-profile /unit_test_profile.json"
        expected-outputs:
          - what: "LCD -> OFF"
            where: ${DUT}
      - test-name: display-set-talk
        cmd-to-run-in-cli: "artie-cli display set mouth dGFsaw== -n mouth-driver --unit-test --port 18862 --artie-profile /unit_test_profile.json"
        expected-outputs:
          - what: "LCD -> TALK"
            where: ${DUT}
      - test-name: display-set-frown
        cmd-to-run-in-cli: "artie-cli display set mouth ZnJvd24= -n mouth-driver --unit-test --port 18862 --artie-profile /unit_test_profile.json"
        expected-outputs:
          - what: "LCD -> FROWN"
            where: ${DUT}
      - test-name: display-set-line
        cmd-to-run-in-cli: "artie-cli display set mouth bGluZQ== -n mouth-driver --unit-test --port 18862 --artie-profile /unit_test_profile.json"
        expected-outputs:
          - what: "LCD -> LINE"
            where: ${DUT}
      - test-name: display-set-smirk
        cmd-to-run-in-cli: "artie-cli display set mouth c21pcms= -n mouth-driver --unit-test --port 18862 --artie-profile /unit_test_profile.json"
        expected-outputs:
          - what: "LCD -> SMIRK"
            where: ${DUT}
      - test-name: display-set-open-smile
        cmd-to-run-in-cli: "artie-cli display set mouth b3Blbi1zbWlsZQ== -n mouth-driver --unit-test --port 18862 --artie-profile /unit_test_profile.json"
        expected-outputs:
          - what: "LCD -> OPEN-SMILE"
            where: ${DUT}
      - test-name: display-set-zig-zag
        cmd-to-run-in-cli: "artie-cli display set mouth emlnLXphZw== -n mouth-driver --unit-test --port 18862 --artie-profile /unit_test_profile.json"
        expected-outputs:
          - what: "LCD -> ZIG-ZAG"
            where: ${DUT}
      - test-name: display-set-smile
        cmd-to-run-in-cli: "artie-cli display set mouth c21pbGU= -n mouth-driver --unit-test --port 18862 --artie-profile /unit_test_profile.json"
        expected-outputs:
          - what: "LCD -> SMILE"
            where: ${DUT}
      - test-name: display-get
        cmd-to-run-in-cli: "artie-cli display get mouth -n mouth-driver --unit-test --port 18862 --artie-profile /unit_test_profile.json"
        expected-outputs:
          - what: "LCD -> SMILE"
            where: ${DUT}
      - test-name: mcu-reload-fw
        cmd-to-run-in-cli: "artie-cli mcu reload-fw mouth -n mouth-driver --unit-test --port 18862 --artie-profile /unit_test_profile.json"
        expected-outputs:
          - what: "Mocking MCU FW load."
            where: ${DUT}
      - test-name: driver-self-check
        cmd-to-run-in-cli: "artie-cli driver self-check -n mouth-driver --unit-test --port 18862 --artie-profile /unit_test_profile.json"
        expected-outputs:
          - what: "Checking FW subsystem..."
            where: ${DUT}
          - what: "Checking LED subsystem..."
            where: ${DUT}
          - what: "Checking LCD subsystem..."
            where: ${DUT}
