name: telemetry-integration-tests
labels:
  - docker-image
  - integration
dependencies:
  - driver-eyebrows: docker-image
  - log-collector: docker-image
  - metrics-collector: docker-image
  - artie-cli: docker-image
  - artie-api-server: docker-image
  - artie-rpc-broker: docker-image
type: test
steps:
  - job: docker-compose-test-suite
    compose-fname: compose.telemetry.yaml
    compose-docker-image-variables:
      - EYEBROWS_TEST_IMAGE:
          dependency:
            name: docker-image
            producing-task: driver-eyebrows
      - LOG_COLLECTOR_TEST_IMAGE:
          dependency:
            name: docker-image
            producing-task: log-collector
      - METRICS_COLLECTOR_TEST_IMAGE:
          dependency:
            name: docker-image
            producing-task: metrics-collector
      - ARTIE_API_SERVER_TEST_IMAGE:
          dependency:
            name: docker-image
            producing-task: artie-api-server
      - RPC_BROKER_TEST_IMAGE:
          dependency:
            name: docker-image
            producing-task: artie-rpc-broker
    cli-image:
      dependency:
        name: docker-image
        producing-task: artie-cli
    steps:
      - test-name: init-mcu
        cmd-to-run-in-cli: "artie-cli help"
        expected-outputs:
          - what: "Mocking MCU FW load."
            where: telemetry-itest-eyebrows-driver
          - what: "Mocking MCU FW load."
            where: telemetry-itest-log-collector
      - test-name: fw-load
        cmd-to-run-in-cli: "artie-cli eyebrows fw load --integration-test --artie-profile /integration_test_profile.json"
        expected-outputs:
          - what: "Mocking MCU FW load."
            where: telemetry-itest-eyebrows-driver
          - what: "Mocking MCU FW load."
            where: telemetry-itest-log-collector
      - test-name: led-on
        cmd-to-run-in-cli: "artie-cli eyebrows led on --side left --integration-test --artie-profile /integration_test_profile.json"
        expected-outputs:
          - what: "Test Passed"
            where: metrics-itest-metrics-collector
