name: metrics-integration-tests
labels:
  - docker-image
  - integration
dependencies:
  - driver-eyebrows: docker-image
  - metrics-collector: docker-image
  - artie-cli: docker-image
  - artie-api-server: docker-image
  - artie-service-broker: docker-image
type: test
steps:
  - job: docker-compose-test-suite
    compose-fname: compose.metrics.yaml
    compose-docker-image-variables:
      - EYEBROWS_TEST_IMAGE:
          dependency:
            name: docker-image
            producing-task: driver-eyebrows
      - METRICS_COLLECTOR_TEST_IMAGE:
          dependency:
            name: docker-image
            producing-task: metrics-collector
      - ARTIE_API_SERVER_TEST_IMAGE:
          dependency:
            name: docker-image
            producing-task: artie-api-server
      - SERVICE_BROKER_TEST_IMAGE:
          dependency:
            name: docker-image
            producing-task: artie-service-broker
    cli-image:
      dependency:
        name: docker-image
        producing-task: artie-cli
    steps:
      - test-name: led-on
        cmd-to-run-in-cli: "artie-cli status-led set eyebrow-left on -n eyebrows-driver --integration-test --artie-profile /integration_test_profile.json"
        expected-outputs:
          - what: "Test Passed"
            where: metrics-itest-metrics-collector
