name: service-broker-unit-tests
labels:
  - docker-image
  - unit
dependencies:
  - artie-service-broker: docker-image
  - artie-cli: docker-image
type: test
steps:
  - job: single-container-cli-suite
    docker-image-under-test:
      dependency:
        name: docker-image
        producing-task: artie-service-broker
    cmd-to-run-in-dut: "python -m src.main --port 18864 --loglevel debug"
    dut-port-mappings:
      - 18864: 18864
    cli-image:
      dependency:
        name: docker-image
        producing-task: artie-cli
    steps:
      - test-name: list-services
        cmd-to-run-in-cli: "artie-cli service list --unit-test --artie-profile /unit_test_profile.json"
        expected-outputs:
          - what: "Found ('mock-service:service-interface-v1:driver-interface-v1:status-led-interface-v1',)"
            where: ${DUT}
      - test-name: list-services-with-host-filter-expected-yes
        cmd-to-run-in-cli: "artie-cli service list --host localhost --unit-test --artie-profile /unit_test_profile.json"
        expected-outputs:
          - what: "Found ('mock-service:service-interface-v1:driver-interface-v1:status-led-interface-v1',)"
            where: ${DUT}
      - test-name: list-services-with-host-filter-expected-no
        cmd-to-run-in-cli: "artie-cli service list --host nonexistent-host --unit-test --artie-profile /unit_test_profile.json"
        expected-outputs:
          - what: "Found ()"
            where: ${DUT}
      - test-name: query-fully-qualified-name-expected-yes
        cmd-to-run-in-cli: "artie-cli service query --name mock-service:service-interface-v1:driver-interface-v1:status-led-interface-v1 --unit-test --artie-profile /unit_test_profile.json"
        expected-outputs:
          - what: "Found [('127.0.0.1', 18865)]"
            where: ${DUT}
      - test-name: query-fully-qualified-name-expected-no
        cmd-to-run-in-cli: "artie-cli service query --name non-existent-service:interface-v1 --unit-test --artie-profile /unit_test_profile.json"
        expected-outputs:
          - what: "No such service"
            where: ${DUT}
      - test-name: query-by-simple-name-expected-yes
        cmd-to-run-in-cli: "artie-cli service query --name mock-service --unit-test --artie-profile /unit_test_profile.json"
        expected-outputs:
          - what: "Found [('127.0.0.1', 18865)]"
            where: ${DUT}
      - test-name: query-by-simple-name-expected-no
        cmd-to-run-in-cli: "artie-cli service query --name non-existent-service --unit-test --artie-profile /unit_test_profile.json"
        expected-outputs:
          - what: "No such service"
            where: ${DUT}
      - test-name: query-by-single-interface-expected-yes
        cmd-to-run-in-cli: "artie-cli service query --interfaces service-interface-v1 --unit-test --artie-profile /unit_test_profile.json"
        expected-outputs:
          - what: "Found [('127.0.0.1', 18865)]"
            where: ${DUT}
      - test-name: query-by-single-interface-expected-no
        cmd-to-run-in-cli: "artie-cli service query --interfaces non-existent-interface-v1 --unit-test --artie-profile /unit_test_profile.json"
        expected-outputs:
          - what: "No such service"
            where: ${DUT}
      - test-name: query-by-partial-interface-list
        cmd-to-run-in-cli: "artie-cli service query --interfaces service-interface-v1,driver-interface-v1 --unit-test --artie-profile /unit_test_profile.json"
        expected-outputs:
          - what: "Found [('127.0.0.1', 18865)]"
            where: ${DUT}
      - test-name: query-by-full-interface-list
        cmd-to-run-in-cli: "artie-cli service query --interfaces service-interface-v1,driver-interface-v1,status-led-interface-v1 --unit-test --artie-profile /unit_test_profile.json"
        expected-outputs:
          - what: "Found [('127.0.0.1', 18865)]"
            where: ${DUT}
      - test-name: query-by-interface-list-containing-nonexistent-interface
        cmd-to-run-in-cli: "artie-cli service query --interfaces service-interface-v1,non-existent-interface-v1 --unit-test --artie-profile /unit_test_profile.json"
        expected-outputs:
          - what: "Found [('127.0.0.1', 18865)]"
            where: ${DUT}
# Tests:
# - list-service
# - query by:
#   - fully-qualified name: expected yes and expected no
#   - simple name: expected yes and expected no
#   - single interface: expected yes and expected no
#   - partial interface list
#   - full interface list
#   - interface list containing at least one interface not in our list
# - unregister, then list-services to verify removal
