name: eyebrows-driver-integration-tests
labels:
  - docker-image
  - integration
dependencies:
  - driver-eyebrows: docker-image
  - artie-api-server: docker-image
  - artie-cli: docker-image
  - artie-rpc-broker: docker-image
type: test
steps:
  - job: docker-compose-test-suite
    compose-fname: compose.driver-eyebrows.yaml
    compose-docker-image-variables:
      - EYEBROWS_TEST_IMAGE:
          dependency:
            name: docker-image
            producing-task: driver-eyebrows
      - ARTIE_API_SERVER_TEST_IMAGE:
          dependency:
            name: docker-image
            producing-task: artie-api-server
      - RPC_BROKER_TEST_IMAGE:
          dependency:
            name: docker-image
            producing-task: artie-rpc-broker
    cli-image:
      dependency:
        name: docker-image
        producing-task: artie-cli
    steps:
      - test-name: init-mcu
        cmd-to-run-in-cli: "artie-cli help"
        expected-outputs:
          - what: "Mocking MCU FW load."
            where: eyebrows-itest-eyebrows-driver
      - test-name: mcu-list
        cmd-to-run-in-cli: "artie-cli mcu list -n eyebrows-driver --integration-test --artie-profile /integration_test_profile.json"
        expected-outputs:
          - what: "MCU IDs: ['eyebrow-left', 'eyebrow-right']"
            where: eyebrows-itest-eyebrows-driver
      - test-name: mcu-reload-fw
        cmd-to-run-in-cli: "artie-cli mcu reload-fw eyebrow-left -n eyebrows-driver --integration-test --artie-profile /integration_test_profile.json"
        expected-outputs:
          - what: "Mocking MCU FW load."
            where: eyebrows-itest-eyebrows-driver
      - test-name: mcu-reset
        cmd-to-run-in-cli: "artie-cli mcu reset eyebrow-left -n eyebrows-driver --integration-test --artie-profile /integration_test_profile.json"
        expected-outputs:
          - what: "Mocking MCU eyebrow-left Reset: DONE"
            where: eyebrows-itest-eyebrows-driver
      - test-name: mcu-self-check
        cmd-to-run-in-cli: "artie-cli mcu self-check eyebrow-right -n eyebrows-driver --integration-test --artie-profile /integration_test_profile.json"
        expected-outputs:
          - what: "Mocking MCU eyebrow-right Self Check: PASS"
            where: eyebrows-itest-eyebrows-driver
      - test-name: mcu-status
        cmd-to-run-in-cli: "artie-cli mcu status eyebrow-right -n eyebrows-driver --integration-test --artie-profile /integration_test_profile.json"
        expected-outputs:
          - what: "Mocking MCU eyebrow-right Status: OK"
            where: eyebrows-itest-eyebrows-driver
      - test-name: mcu-version
        cmd-to-run-in-cli: "artie-cli mcu version eyebrow-left -n eyebrows-driver --integration-test --artie-profile /integration_test_profile.json"
        expected-outputs:
          - what: "Mocking MCU eyebrow-left Firmware Version: 1.0.0"
            where: eyebrows-itest-eyebrows-driver
      - test-name: led-list
        cmd-to-run-in-cli: "artie-cli status-led list -n eyebrows-driver --integration-test --artie-profile /integration_test_profile.json"
        expected-outputs:
          - what: "LEDs: ['eyebrow-left', 'eyebrow-right']"
            where: eyebrows-itest-eyebrows-driver
      - test-name: led-set-on
        cmd-to-run-in-cli: "artie-cli status-led set eyebrow-left on -n eyebrows-driver --integration-test --artie-profile /integration_test_profile.json"
        expected-outputs:
          - what: "left LED -> ON"
            where: eyebrows-itest-eyebrows-driver
      - test-name: led-set-off
        cmd-to-run-in-cli: "artie-cli status-led set eyebrow-right off -n eyebrows-driver --integration-test --artie-profile /integration_test_profile.json"
        expected-outputs:
          - what: "right LED -> OFF"
            where: eyebrows-itest-eyebrows-driver
      - test-name: led-set-heartbeat
        cmd-to-run-in-cli: "artie-cli status-led set eyebrow-left heartbeat -n eyebrows-driver --integration-test --artie-profile /integration_test_profile.json"
        expected-outputs:
          - what: "left LED -> HEARTBEAT"
            where: eyebrows-itest-eyebrows-driver
      - test-name: led-get
        cmd-to-run-in-cli: "artie-cli status-led get eyebrow-left -n eyebrows-driver --integration-test --artie-profile /integration_test_profile.json"
        expected-outputs:
          - what: "LED -> State: heartbeat"
            where: eyebrows-itest-eyebrows-driver
      - test-name: display-list
        cmd-to-run-in-cli: "artie-cli display list -n eyebrows-driver --integration-test --artie-profile /integration_test_profile.json"
        expected-outputs:
          - what: "Displays: ['eyebrow-left', 'eyebrow-right']"
            where: eyebrows-itest-eyebrows-driver
      - test-name: display-get
        cmd-to-run-in-cli: "artie-cli display get eyebrow-right -n eyebrows-driver --integration-test --artie-profile /integration_test_profile.json"
        expected-outputs:
          - what: "right eyebrow LCD -> State: ['M', 'H', 'M']"
            where: eyebrows-itest-eyebrows-driver
      - test-name: display-set
        cmd-to-run-in-cli: "artie-cli display set eyebrow-left 'SEhM' -n eyebrows-driver --integration-test --artie-profile /integration_test_profile.json"
        expected-outputs:
          - what: "left LCD -> DRAW"
            where: eyebrows-itest-eyebrows-driver
      - test-name: display-test
        cmd-to-run-in-cli: "artie-cli display test eyebrow-right -n eyebrows-driver --integration-test --artie-profile /integration_test_profile.json"
        expected-outputs:
          - what: "right LCD -> TEST"
            where: eyebrows-itest-eyebrows-driver
      - test-name: display-clear
        cmd-to-run-in-cli: "artie-cli display clear eyebrow-left -n eyebrows-driver --integration-test --artie-profile /integration_test_profile.json"
        expected-outputs:
          - what: "left LCD -> OFF"
            where: eyebrows-itest-eyebrows-driver
      - test-name: servo-list
        cmd-to-run-in-cli: "artie-cli servo list -n eyebrows-driver --integration-test --artie-profile /integration_test_profile.json"
        expected-outputs:
          - what: "Servos: ['eyebrow-left', 'eyebrow-right']"
            where: eyebrows-itest-eyebrows-driver
      - test-name: servo-set
        cmd-to-run-in-cli: "artie-cli servo set eyebrow-right 45 -n eyebrows-driver --integration-test --artie-profile /integration_test_profile.json"
        expected-outputs:
          - what: "right SERVO -> GO"
            where: eyebrows-itest-eyebrows-driver
      - test-name: servo-get
        cmd-to-run-in-cli: "artie-cli servo get eyebrow-right -n eyebrows-driver --integration-test --artie-profile /integration_test_profile.json"
        expected-outputs:
          - what: "right servo position -> 90.00"
            where: eyebrows-itest-eyebrows-driver
